.content {
    position: relative;
    width: max-content;
    margin: auto;
    text-align: center;
}
.content::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-image: url(https://unsplash.it/100/100);
}