body{
     background:url(fotos/tecnologiaFundo.jpg) ;
}

#letraVerde {
color: rgb(107, 146, 17);
}
#letraBranca{
    color: aliceblue;
}
#letraVermelha{
    color: rgb(238, 9, 9);
}
#letraAzul{
    color: rgb(11, 248, 43);
   
}
a{
color:rgb(15, 236, 100) ;
border-bottom: 0cqw;
background-color: black;
}